
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="~/css/Registration.css" />
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form class="registretion">
            <label type="text" class="formlab">Имя пользователя</label>
            <input class="formfield"></input>
            <label class="formlab">Пароль</label>
            <input type="password" class="formfield"></input>
            <label class="formlab">Повторите пароль</label>
            <input type="password" class="formfield"></input>
        </form> 
    </div>
    
    
</body>
</html>
