@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="~/css/SignIn.css" />
</head>
<body>
    <div class="container">
        <h1 class="container__title">Авторизация</h1>

        <!-- форма регистрации -->

        <form class="sign-up" asp-action="SignIn" asp-controller="Authentication" asp-anti-forgery="true">

          <!-- клас для называется так потому что я далбаеб и поменять все щас будет сложно -->

          <div asp-validation-summary="ModelOnly">sdfgdsfg</div>

          <div class="sign-u__setting">

            <!-- в рег иннер у нас будет рапологаться 1 лабел и один инпут -->
            <!-- первый лабел -->

            <div class="sign-up__inner" id="sign-up__inner__1">
              <label type="text" class="form__lab" asp-for="UserName">Имя пользователя</label>
              <input class="form__field" asp-for="UserName"></input>
              <span asp-validation-for="UserName"></span>
            </div>


            <!-- второй лабел -->

            <div class="sign-up__inner" id="sign-up__inner__2">
              <label class="form__lab" asp-for="Password">Пароль</label>
              <input type="password" class="form__field" asp-for="Password"></input>
              <span asp-validation-for="Password"></span>
            </div>

          </div>

          <!-- Кнопка  -->

          <button type="submit"  name="button" class="sign-up__btn">Войти</button>


          <div class="create__acc">У вас нет аккаунта? <a class="create__acc__link" asp-controller="Authentication" asp-action="Registration"> зарегистрироваться</a></div>

          <div class="create__acc__soc">Авторизация через соц сети</div>

          <div class="soc-net">
                <img class="soc-net__icon" src="~/icons/discord.svg" />
                <img class="soc-net__icon" src="~/icons/telegram.svg" />
                <img class="soc-net__icon" src="~/icons/vk.svg" />
                <img class="soc-net__icon" src="~/icons/youtube.svg" />
          </div>

        </form>
    </div>
    <script src="~/js/SignIn.js"></script>
</body>
</html>