<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/ShopGame.styles.css" />
    <title>@ViewData["Title"] - ShopGame</title> 
</head>
<body>
    <div class="page">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="#" class="header__logo">Shop<br>Game</a>
                    <div class="search">
                        <button class="catalog">КАТАЛОГ ИГР</button>
                        <input class="header__input" type="text" placeholder="Поиск...">
                    </div>
                    <nav class="nav">
                        <button class="nav__btn">ВОЙТИ</button>
                        <a href="#" class="nav__link"><img src="icons/heart.svg" class="icons" alt=""></a>
                        <a href="#" class="nav__link"><img src="icons/shop.svg" class="icons" alt=""></a>
                    </nav>
                </div>
            </div>
        </header>

        <div class="main">
            <div class="container">
                <div class="main__inner">
                    RenderBody()
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer__inner">
                    <div class="footer__info">
                        <h1 class="footer__logo">Shop<br>Game</h1>
                        <h2 class="footer__copy">&copy ShopGame</h2>
                    </div>
                    <div class="footer__links">
                        <a href="#" class="footer__link">Новинки</a>
                        <a href="#" class="footer__link">Предзаказы</a>
                        <a href="#" class="footer__link">Контакты</a>
                        <a href="#" class="footer__link">Поддержка</a>
                        <a href="#" class="footer__link">О компании</a>
                    </div>
                    <div class="footer__net">
                        <a href="#"><img class="nets" src="icons/vk.svg" alt="vk"></a>
                        <a href="#"><img class="nets" src="icons/telegram.svg" alt="telegram"></a>
                        <a href="#"><img class="nets" src="icons/youtube.svg" alt="youtube"></a>
                        <a href="#"><img class="nets" src="icons/discord.svg" alt="discord"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
