.game__info {
}

.game__page {
    display: flex;
    justify-content: space-between;
    padding-right: 170px;
    padding-top: 50px;
}

.game__img {
    
    width: 370px;
    height: 460px;
    border-radius: 10px;
}

.game__about {
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
}


.id {
    color: #fff;
    font-weight: 400;
    opacity: .8;
    font-size: 15px;
    padding-top: 13px;
    text-decoration: none;
}

.value {
    padding-top: 13px;
    color: #fbbb43;
    font-weight: 600;
}


.game__buy {
    width: 900px;
}

.game__name {
    font-size: 37px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 30px;
}

.price {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bag {
    width: 120px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: #fbbb43;
    transition: background-color .2s linear;
}

    .bag:hover {
        background-color: #fff;
    }

.cena {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}


.activate {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50px;
}

.act__text {
    font-size: 15px;
    color: #fff;
    opacity: .8;
    font-weight: 400;
}

.act__subtext {
    font-size: 18px;
    font-weight: 600;
    color: #fbbb43;
}







/* TAB AND SLIDER -------------------------------
------------------------------------------- */

.tab {
    padding-top: 200px;
    height: 700px;
}

.tab__btn {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    background: transparent;
    cursor: pointer;
    padding: 7px;
    margin-bottom: 10px;
}

.active__btn {
    border: 1px solid #fbbb43;
    border-radius: 10px;
    background-color: #5a4623;
}

.tab__item {
    display: none;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
    width: 750px;
}

.active__tab {
    display: block;
}


.tab__title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}


.tab__text {
    font-size: 16px;
    line-height: 25px;
}


.characteristics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.act__list {
    font-size: 17px;
    opacity: .8;
}

.act__item {
    padding: 10px;
}
