@model IEnumerable<Game>
@{

}
	<div class="list__card">
		@foreach(var game in Model){
			<div class="card">
				<div class="card__inner">
					<div class="card__inner__top">
						<div class="card__inner__top__dlc">DLC</div>

						<div class="card__inner__top__like"><img style="width: 35px; height: 35px;" src="~/icons/heart.svg"></div>
					</div>

					<div class="card__inner__btn">В корзину</div>

				</div>

				<img class="card__img" src="@game.Image"></img>

				<div class="card__name">@game.Name</div>

				<div class="card__info">
					<div class="card__info__price">@game.Price P</div>

					<div class="card__info__discount">34 %</div>
				</div>
			</div>
		}
	</div>
