
.list__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;

}


.card {
    width: 16%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #141111;
    color: #fff;
    position: relative;
}


.card__inner {
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
}



.card__inner:hover{
    opacity: 1;
}




.card__inner__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
    opacity: 0.9;
}


.card__inner__top__dlc {
    margin-top: 0px;
    width: 40px;
    height: 20px;
    padding-top: 5px;
    padding-left: 3px;
    background-color: #fbbb43;
    border-radius: 14px 0 15px 0;
    text-align: center;
    font-size: 12px;
    opacity: 0.9;
}


.card__inner__top__like {
    margin-left: 5px;
    margin-top: 15px;
    width: 45px;
    height: 45px;
    opacity: 0.9;
}


.card__inner__btn {
    padding: 11px 20px;
    color: #000;
    padding-top: 10px;
    border-radius: 7px;
    background-color: #fbbb43;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    z-index: 1000;
    margin-left: 27%;
    margin-right: 26%;
    width: 80px;
}



.card__inner__shadow {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    z-index: 900;
    top: 0;
}



.card__img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 300px;
    background-color: #000;
}

.card__name{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    height: 40px;
}

.card__info{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


.card__info__price{

}


.card__info__discount{
}