
.list__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;

}


.card {
    width: 16%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #141111;
    color: #fff;
}


.card__img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 300px;
    background-color: #000;
}

.card__name{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 
}

.card__info{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


.card__info__price{

}


.card__info__discount{
}