@model List<Game>
@{

}
	<div class="list__card">
		@for (int i = 0; i < Model.Count(); i++){
			<div class="card">
				<div class="card__img"></div>

				<div class="card__name">@Model[i].Name</div>

				<div class="card__info">
					<div class="card__info__price">@Model[i].Price P</div>

					<div class="card__info__discount">34 %</div>
				</div>
			</div>
		}
	</div>
