@model IEnumerable<Game>
@{

}
	<div class="list__card">
		@foreach(var game in Model){
			<div class="card">
				<div class="card__img"></div>

				<div class="card__name">@game.Name</div>

				<div class="card__info">
					<div class="card__info__price">@game.Price P</div>

					<div class="card__info__discount">34 %</div>
				</div>
			</div>
		}
	</div>
